{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "mozorg/base-resp.html" %}

{% block page_title %}{{ _('Contacts, Spaces and Communities') }}{% endblock %}
{% block body_id %}contact-spaces{% endblock %}
{% block body_class %}sand{% endblock %}

{% block extrahead %}
  {{ css('contact-spaces') }}
  <!--[if lte IE 8]>
    {{ css('contact-spaces-ie8') }}
  <![endif]-->
{% endblock %}

{% block js %}
  {{ js('contact-spaces') }}
{% endblock %}

{% block site_header_logo %}{% endblock %}

{% block content %}

<main id="main-content" role="main" data-mapbox="{{ settings.MAPBOX_TOKEN }}">
  <header class="page-head container">
    <h1 class="page-title">{{ _('Where is Mozilla?') }}</h1>
    <p class="help">
    {% trans link_sumo='https://support.mozilla.org/' %}
      Need help with Firefox? <a href="{{ link_sumo }}" class="go">Get it on our support site</a>
    {% endtrans %}
    </p>
  </header>

  <div id="map">
    <ul class="legend" role="navigation" aria-controls="map entry-container" data-tab="communities">
        <li data-id="north-america">
          <a href="{{ url('mozorg.contact.communities.north-america') }}">{{ _('North America') }}</a>
        </li>
        <li data-id="latin-america">
          <a href="{{ url('mozorg.contact.communities.latin-america') }}">{{ _('Latin America') }}</a>
        </li>
        <li data-id="europe">
          <a href="{{ url('mozorg.contact.communities.europe') }}">{{ _('Europe') }}</a>
        </li>
        <li data-id="asia">
          <a href="{{ url('mozorg.contact.communities.asia-south-pacific') }}">{{ _('Asia') }}</a>
        </li>
        <li data-id="antarctica">
          <a href="{{ url('mozorg.contact.communities.antarctica') }}">{{ _('Antarctica') }}</a>
        </li>
        <li data-id="africa">
          <a href="{{ url('mozorg.contact.communities.africa-middle-east') }}">{{ _('Africa') }}</a>
        </li>
        <li data-id="arabic">
          <a href="{{ url('mozorg.contact.communities.arabic') }}">{{ _('Arabic') }}</a>
        </li>
        <li data-id="francophone">
          <a href="{{ url('mozorg.contact.communities.francophone') }}">{{ _('Francophone') }}</a>
        </li>
        <li data-id="hispano">
          <a href="{{ url('mozorg.contact.communities.hispano') }}">{{ _('Hispano') }}</a>
        </li>
    </ul>
  </div>

  <div id="page-content" class="container">
    <ul class="category-tabs" role="navigation" aria-controls="map entry-container">
      <li data-id="spaces"><a href="{{ url('mozorg.contact.spaces.spaces-landing') }}">{{ _('Spaces') }}</a></li>
      <li data-id="communities"><a href="{{ url('mozorg.contact.communities.communities-landing') }}">{{ _('Communities') }}</a></li>
    </ul>

    {% block contact_entry %}{% endblock %}

    <nav id="nav-spaces" class="nav-category" role="navigation" aria-controls="map entry-container">
      <ul data-tab="spaces">
        <li data-id="mountain-view"><a href="{{ url('mozorg.contact.spaces.mountain-view') }}">{{ _('Mountain View') }}</a></li>
        <li data-id="auckland"><a href="{{ url('mozorg.contact.spaces.auckland') }}">{{ _('Auckland') }}</a></li>
        <li data-id="beijing"><a href="{{ url('mozorg.contact.spaces.beijing') }}">{{ _('Beijing') }}</a></li>
        <li data-id="berlin"><a href="{{ url('mozorg.contact.spaces.berlin') }}">{{ _('Berlin') }}</a></li>
        <li data-id="london"><a href="{{ url('mozorg.contact.spaces.london') }}">{{ _('London') }}</a></li>
        <li data-id="paris"><a href="{{ url('mozorg.contact.spaces.paris') }}">{{ _('Paris') }}</a></li>
        <li data-id="portland"><a href="{{ url('mozorg.contact.spaces.portland') }}">{{ _('Portland') }}</a></li>
        <li data-id="san-francisco"><a href="{{ url('mozorg.contact.spaces.san-francisco') }}">{{ _('San Francisco') }}</a></li>
        <li data-id="taipei"><a href="{{ url('mozorg.contact.spaces.taipei') }}">{{ _('Taipei') }}</a></li>
        <li data-id="tokyo"><a href="{{ url('mozorg.contact.spaces.tokyo') }}">{{ _('Tokyo') }}</a></li>
        <li data-id="toronto"><a href="{{ url('mozorg.contact.spaces.toronto') }}">{{ _('Toronto') }}</a></li>
        <li data-id="vancouver"><a href="{{ url('mozorg.contact.spaces.vancouver') }}">{{ _('Vancouver') }}</a></li>
      </ul>
    </nav>

    <nav id="nav-communities" class="nav-category accordion" role="navigation" aria-controls="map entry-container">
      <ul data-tab="communities">
        <li data-id="north-america" class="hasmenu region">
          <a href="{{ url('mozorg.contact.communities.north-america') }}">{{ _('North America') }}</a>
          <ul class="submenu" data-tab="communities">
            <li data-id="canada"><a href="{{ url('mozorg.contact.communities.canada') }}">{{ _('Canada') }}</a></li>
            <li data-id="united-states"><a href="{{ url('mozorg.contact.communities.united-states') }}">{{ _('United States') }}</a></li>
          </ul>
        </li>
        <li data-id="latin-america" class="hasmenu region">
          <a href="{{ url('mozorg.contact.communities.latin-america') }}">{{ _('Latin America') }}</a>
          <ul class="submenu" data-tab="communities">
            <li data-id="argentina"><a href="{{ url('mozorg.contact.communities.argentina') }}">{{ _('Argentina') }}</a></li>
            <li data-id="bolivia"><a href="{{ url('mozorg.contact.communities.bolivia') }}">{{ _('Bolivia') }}</a></li>
            <li data-id="brazil"><a href="#">{{ _('Brazil') }}</a></li>
            <li data-id="chile"><a href="#">{{ _('Chile') }}</a></li>
            <li data-id="colombia"><a href="#">{{ _('Colombia') }}</a></li>
            <li data-id="costa-rica"><a href="#">{{ _('Costa Rica') }}</a></li>
            <li data-id="cuba"><a href="#">{{ _('Cuba') }}</a></li>
            <li data-id="ecuador"><a href="#">{{ _('Ecuador') }}</a></li>
            <li data-id="mexico"><a href="#">{{ _('Mexico') }}</a></li>
            <li data-id="nicaragua"><a href="#">{{ _('Nicaragua') }}</a></li>
            <li data-id="paraguay"><a href="#">{{ _('Paraguay') }}</a></li>
            <li data-id="peru"><a href="#">{{ _('Peru') }}</a></li>
            <li data-id="uruguay"><a href="#">{{ _('Uruguay') }}</a></li>
            <li data-id="venezuela"><a href="#">{{ _('Venezuela') }}</a></li>
          </ul>
        </li>
        <li data-id="europe" class="hasmenu region">
          <a href="{{ url('mozorg.contact.communities.europe') }}">{{ _('Europe') }}</a>
          <ul class="submenu" data-tab="communities">
            <li data-id="armenia"><a href="#">{{ _('Armenia') }}</a></li>
            <li data-id="austria"><a href="#">{{ _('Austria') }}</a></li>
            <li data-id="basque"><a href="#">{{ _('Basque') }}</a></li>
            <li data-id="belgium"><a href="#">{{ _('Belgium') }}</a></li>
            <li data-id="bosnia-and-herzegovina"><a href="#">{{ _('Bosnia and Herzegovina') }}</a></li>
            <li data-id="bulgaria"><a href="#">{{ _('Bulgaria') }}</a></li>
            <li data-id="catalan"><a href="#">{{ _('Catalan') }}</a></li>
            <li data-id="croatia"><a href="#">{{ _('Croatia') }}</a></li>
            <li data-id="czhech-republic"><a href="#">{{ _('Czhech Republic') }}</a></li>
            <li data-id="denmark"><a href="#">{{ _('Denmark') }}</a></li>
            <li data-id="finland"><a href="#">{{ _('Finland') }}</a></li>
            <li data-id="france"><a href="#">{{ _('France') }}</a></li>
            <li data-id="germany"><a href="#">{{ _('Germany') }}</a></li>
            <li data-id="greece"><a href="#">{{ _('Greece') }}</a></li>
            <li data-id="hungary"><a href="#">{{ _('Hungary') }}</a></li>
            <li data-id="ireland"><a href="#">{{ _('Ireland') }}</a></li>
            <li data-id="italy"><a href="#">{{ _('Italy') }}</a></li>
            <li data-id="kosovo"><a href="#">{{ _('Kosovo') }}</a></li>
            <li data-id="lithuania"><a href="#">{{ _('Lithuania') }}</a></li>
            <li data-id="norway"><a href="#">{{ _('Norway') }}</a></li>
            <li data-id="poland"><a href="#">{{ _('Poland') }}</a></li>
            <li data-id="portugal"><a href="#">{{ _('Portugal') }}</a></li>
            <li data-id="macedonia"><a href="#">{{ _('Macedonia') }}</a></li>
            <li data-id="russia"><a href="#">{{ _('Russia') }}</a></li>
            <li data-id="serbia"><a href="#">{{ _('Serbia') }}</a></li>
            <li data-id="slovakia"><a href="#">{{ _('Slovakia') }}</a></li>
            <li data-id="slovenia"><a href="#">{{ _('Slovenia') }}</a></li>
            <li data-id="spain"><a href="#">{{ _('Spain') }}</a></li>
            <li data-id="switzerland"><a href="#">{{ _('Switzerland') }}</a></li>
            <li data-id="the-netherlands"><a href="#">{{ _('The Netherlands') }}</a></li>
            <li data-id="turkey"><a href="#">{{ _('Turkey') }}</a></li>
            <li data-id="ukraine"><a href="#">{{ _('Ukraine') }}</a></li>
            <li data-id="united-kingdom"><a href="#">{{ _('United Kingdom') }}</a></li>
          </ul>
        </li>
        <li data-id="asia" class="hasmenu region">
          <a href="{{ url('mozorg.contact.communities.asia-south-pacific') }}">{{ _('Asia &amp; South Pacific') }}</a>
          <ul class="submenu" data-tab="communities">
            <li data-id="bangladesh"><a href="#">{{ _('Bangladesh') }}</a></li>
            <li data-id="cambodia"><a href="#">{{ _('Cambodia') }}</a></li>
            <li data-id="china"><a href="#">{{ _('China') }}</a></li>
            <li data-id="india"><a href="#">{{ _('India') }}</a></li>
            <li data-id="indonesia"><a href="#">{{ _('Indonesia') }}</a></li>
            <li data-id="japan"><a href="#">{{ _('Japan') }}</a></li>
            <li data-id="malaysia"><a href="#">{{ _('Malaysia') }}</a></li>
            <li data-id="myanmar"><a href="#">{{ _('Myanmar') }}</a></li>
            <li data-id="nepal"><a href="#">{{ _('Nepal') }}</a></li>
            <li data-id="philippines"><a href="#">{{ _('Philippines') }}</a></li>
            <li data-id="singapore"><a href="#">{{ _('Singapore') }}</a></li>
            <li data-id="south-korea"><a href="#">{{ _('South Korea') }}</a></li>
            <li data-id="sri-lanka"><a href="#">{{ _('Sri Lanka') }}</a></li>
            <li data-id="taiwan"><a href="#">{{ _('Taiwan') }}</a></li>
            <li data-id="thailand"><a href="#">{{ _('Thailand') }}</a></li>
            <li data-id="vietnam"><a href="#">{{ _('Vietnam') }}</a></li>
          </ul>
        </li>
        <li data-id="antarctica" class="region">
          <a href="{{ url('mozorg.contact.communities.antarctica') }}">{{ _('Antarctica') }}</a>
        </li>
        <li data-id="africa" class="hasmenu region">
          <a href="{{ url('mozorg.contact.communities.africa-middle-east') }}">{{ _('Africa &amp; the Middle East') }}</a>
          <ul class="submenu" data-tab="communities">
            <li data-id="algeria"><a href="#">{{ _('Algeria') }}</a></li>
            <li data-id="egypt"><a href="#">{{ _('Egypt') }}</a></li>
            <li data-id="ghana"><a href="#">{{ _('Ghana') }}</a></li>
            <li data-id="israel"><a href="#">{{ _('Israel') }}</a></li>
            <li data-id="jordan"><a href="#">{{ _('Jordan') }}</a></li>
            <li data-id="kenya"><a href="#">{{ _('Kenya') }}</a></li>
            <li data-id="palestine"><a href="#">{{ _('Palestine') }}</a></li>
            <li data-id="senegal"><a href="#">{{ _('Senegal') }}</a></li>
            <li data-id="tunisia"><a href="#">{{ _('Tunisia') }}</a></li>
            <li data-id="uganda"><a href="#">{{ _('Uganda') }}</a></li>
            <li data-id="zimbabwe"><a href="#">{{ _('Zimbabwe') }}</a></li>
          </ul>
        </li>
        <li data-id="arabic" class="region pseudo">
          <a href="{{ url('mozorg.contact.communities.arabic') }}">Arabic</a>
        </li>
        <li data-id="hispano" class="region pseudo">
          <a href="{{ url('mozorg.contact.communities.hispano') }}">Hispano</a>
        </li>
        <li data-id="francophone" class="region pseudo">
          <a href="{{ url('mozorg.contact.communities.francophone') }}">Francophone</a>
        </li>
      </ul>
    </nav>

    <aside id="meta-spaces" class="meta-category">
      <ul class="meta-help">
        <li><a href="https://wiki.mozilla.org/People:MozSpaces_Guidelines">{{ _('MozSpace Guidelines') }}</a></li>
        <li>
        {% trans link_question='#' %}{# TODO: where? #}
          Have a question about MozSpaces? <a href="{{ link_question }}" class="go">Ask us here</a>
        {% endtrans %}
        </li>
      </ul>

      <ul class="meta-contact">
        <li>IRC: <a href="irc://irc.mozilla.org/MozillaSpaces">#MozillaSpaces</a></li>
        <li><a href="https://twitter.com/MozillaSpaces">@MozillaSpaces</a></li>
      </ul>
    </aside>

    <aside id="meta-communities" class="meta-category">
      <ul class="meta-help">
        <li><a href="#getinvolved">{{ _('Get involved') }}</a></li>
        <li><a href="#start">{{ _('Start a Mozilla community') }}</a></li>
      </ul>
    </aside>

  </div>{# end page-content #}

  <section class="contacting container">
    <header>
      <h3>{{ _('Contacting Mozilla') }}</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
      Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse
      urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
    </header>

    <div class="contact-online">
      <h4>{{ _('Find us online') }}</h4>
      <ul>
        <li><a href="#facebook" hreflang="en-US">{{ _('Facebook') }}</a></li>
        <li><a href="https://twitter.com/mozilla" hreflang="en-US">{{ _('Twitter') }}</a></li>
        <li><a href="#forums">{{ _('Forums &amp; e-mail lists') }}</a></li>
        <li><a href="#irc">{{ _('IRC channels') }}</a></li>
      </ul>
    </div>

    <div class="contact-join">
      <h4>{{ _('Join us') }}</h4>
      <ul>
        <li><a href="{{ url('mozorg.contribute') }}">{{ _('Get involved') }}</a></li>
        <li><a href="https://careers.mozilla.org">{{ _('Career opportunities') }}</a></li>
        <li><a href="https://mozillians.org">{{ _('Mozillians') }}</a></li>
      </ul>
    </div>

    <div class="contact-help">
      <h4>{{ _('Questions &amp; feedback') }}</h4>
      <ul>
        <li><a href="https://support.mozilla.org/">{{ _('Get support') }}</a></li>
        <li><a href="{{ press_blog_url() }}">{{ _('Press inquiries') }}</a></li>
        <li><a href="#licensing">{{ _('Browser distribution &amp; licensing') }}</a></li>
        <li><a href="#fxfeedback">{{ _('Firefox feedback') }}</a></li>
        <li><a href="#broken">{{ _('Report a broken site') }}</a></li>
        <li><a href="#software">{{ _('Software issues') }}</a></li>
      </ul>
    </div>
  </section>

</main>

{% endblock %}

