{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "mozorg/contact/contact-base.html" %}

{% block page_title %}{{ _('Contacts, Spaces and Communities') }} — {{ _('Taipei') }}{% endblock %}

{% block contact_entry %}
  <div id="entry-container">
    <section class="entry" id="taipei">
      <div class="card vcard">
        <h2 class="fn">{{ _('Taipei') }}</h2>
        <p class="adr">
          <span class="street-address">4F-A1, No. 106, Sec. 5, Xinyi Rd.</span>, <span class="extended-address">Xinyi Dist.</span><br>
          <span class="locality">Taipei City</span> <span class="postal-code">11047</span><br>
          <span class="country-name">Taiwan</span>
        </p>

        <ul class="extra">
          <li><a href="mailto:mozspaces@mozilla.com" class="email">mozspaces@mozilla.com</a></li>
        </ul>

        <figure class="feature-img">
          <img src="http://placecage.com/460/250" alt="">
        </figure>
      </div>

      <div class="gallery">
        <h3>{{ _('Photo Gallery') }}</h3>
        <ul class="gallery-list">
          <li class="gallery-image"><a href="#"><img src="http://placecage.com/200/110" alt=""></a></li>
          <li class="gallery-image"><a href="#"><img src="http://placecage.com/200/110" alt=""></a></li>
          <li class="gallery-image"><a href="#"><img src="http://placecage.com/200/110" alt=""></a></li>
          <li class="gallery-image"><a href="#"><img src="http://placecage.com/200/110" alt=""></a></li>
          <li class="gallery-image"><a href="#"><img src="http://placecage.com/200/110" alt=""></a></li>
          <li class="gallery-image"><a href="#"><img src="http://placecage.com/200/110" alt=""></a></li>
        </ul>
      </div>
    </section>
  </div>
{% endblock %}
